@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your main CSS file (e.g., index.css) */

.home-link {
  position: fixed;
  left: 8px;
  top: 8px;
  color: var(--color, white);
  text-shadow: 2px 2px var(--background-color, hsl(220, 15%, 18%));  
  z-index: 2;
}

:root {
  --min-width: 800px;
}

html {
  background: var(--background-color, hsl(220, 15%, 18%));
}

canvas {  
  width: max(min(95vh,95vw),var(--min-width));
  display: block;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.wordcloud-container {
  position: relative;
  width: max(min(95vh,95vw),var(--min-width));
  display: block;
  margin: auto;
}

.corner-link {
  position: fixed;
  right: 8px;
  top: 8px;
  color: var(--color, white);
  text-shadow: 2px 2px var(--background-color, black);  
  z-index: 2;
}